.hero-wrapper{
  .hero-background{
    width: 100vw;
    height: 100vh;
    background-position: top;
    background-size: cover;
  }
  .hero-title{
    font-size: 1rem;
  } 
  .hero-description{
    color: white;
    padding: 3rem;
  }
  
}

