.card-container{
  margin-bottom: 0.5rem;
  .card {
    object-fit: cover;
    height: 200px;
    width: 320px;
    margin-right: 0.5rem;
    opacity: 1;
    transition: .5s ease;
    &:hover{
      cursor: pointer;
      opacity: 0.6;
    }
    @media screen and (max-width: 480px) {
      height: 200px;
      width: 300px;
    }
    @media screen and (max-width: 320px) {
      margin-right: 0.5rem;
      height: 180px;
      width: 280px;
    }
  }
  .chapter-title{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .chapter-summary {
    display: none;
    @media screen and (max-width: 480px) {
      max-width: 300px;
      display: block;
      font-size: 1rem;
      line-height: 1.4rem;
      margin-bottom: 1.5rem;
    }
  }
}
