.navbar-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #000000a8;
  width: 100%;
  z-index: 999999;
  position: relative;
  .logo{
    padding: 0.5rem 3rem;
    @media screen and (max-width: 768px) {
      padding: 0.5rem 1rem;
    }
  }
  .navbar-elements {
    display: inline-flex;
    list-style-type: none;
    color:white;
    font-weight: bold;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #000000af;
      height: 100vh;
      visibility: hidden;
      opacity: 0;
      transition: visibility 1s, opacity 0.2s ease-in-out;
      &.show {
        visibility: visible;
        opacity: 1;
        }
      }
    .navbar-element{
      padding-right: 1.5rem;
      &:hover{
        color: #8a8a8a;
        cursor: pointer;
      }
      @media screen and (max-width: 768px) {
        display: inline-flex;
        padding: 0.8rem;
      }
    }
  }
}